---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Instance Form">
	<main class="p-2 md:p-5 lg:px-60 2xl:px-80">
        <center><p class="text-4xl text-gray-300 dark:text-gray-200">The Furry Fediverse</p></center>
        <div class="flex flex-col">
			<div class="py-4">
            <center>
				<div class="bg-gray-400 text-slate-800 rounded-md p-3">
                <form id="my-form" action="https://formspree.io/f/mvoyledz" method="POST">
                    <label class="text-2xl font-bold">Instance Name</label><br />
                    <input type="text" name="Instance Name" class="rounded-md" required/><br />
                    <label class="text-2xl font-bold">Instance URI</label><br />
                    <input type="text" name="Instance URI" class="rounded-md" required/><br />
                    <label class="text-2xl font-bold">Agreements</label><br />
                    <p class="text-base">You agree to allow FurryFediverse to scape your instance's endpoint "/api/v1/instance" for up to date information on your instance. We will not collect any other data from your instance.</p>
                    <input type="checkbox" name="scraping" class="rounded-md" required/><br />
                    <p class="text-base">You promise to notify your users if you plan to shutdown or can no longer operate your instance with a 30 day notice so they can migrate elsewhere.</p>
                    <input type="checkbox" name="notify" required/><br />
                    <button class="rounded-md bg-blue-300 p-3 font-bold text-gray-100" id="my-form-button">Submit</button>
                    <p id="my-form-status"></p>
                </form>
				</div>
            </center>
			</div>
		</div>
	</main>
</Layout>
<script>
    var form = document.getElementById("my-form");
                    
    async function handleSubmit(event) {
        event.preventDefault();
        var status = document.getElementById("my-form-status");
        var data = new FormData(event.target);
        fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json'
        }
        }).then(response => {
        if (response.ok) {
            status.innerHTML = "Thanks for asking to be listed, currently manual process. I will get to it ASAP!";
            form.reset()
        } else {
            response.json().then(data => {
            if (Object.hasOwn(data, 'errors')) {
                status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
            } else {
                status.innerHTML = "Oops! There was a problem submitting your form"
            }
            })
        }
        }).catch(error => {
        status.innerHTML = "Oops! There was a problem submitting your form"
        });
    }
    form.addEventListener("submit", handleSubmit)
</script>