@tailwind base;
@tailwind components;
@tailwind utilities;

a[target="_blank"]::after { /* Provides a basic notice to screen-reader users that these links will open a new window */
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
    content: "opens in new window"
}